# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment variables
.env

# Django
db.sqlite3
media/

# React
node_modules/
dist/
build/

# macOS
.DS_Store

# VS Code
.vscode/

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.log